// Importação do google fonts:
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


$fonte-padrao: 'Roboto', sans-serif;

$altura-cima: 12rem;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 8px;
}

body {
    font-family: $fonte-padrao;
}

div.container {
    width: 100vw;
    max-width: 600px;
    margin: 0 auto;
    //min-height: 446px;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    border: 2px solid $primary-color;

    aside.side-menu {
    display: block;
    max-width: calc(95rem/8);
    min-width: 70px;
    background-color: $primary-color;
    border-right: 2px solid $primary-color;
        a.link-home{
            text-decoration: none;
            color: inherit;
        }
            //mudando o estilo da casinha (e dos demais ícones que forem importados):
            .material-symbols-rounded {
                font-variation-settings:
                    'FILL' 1,
                    'wght' 400,
                    'GRAD' 0,
                    'opsz' 48
            }
            .home-icon {
                display: block;
                background-color: $secondary-color;
                text-align: center;
                font-size: 6rem;
                padding-top: 2.3rem;
                border-bottom: 2px solid $primary-color;
                width: 100%;
                height: $altura-cima;
            }

            nav {
                height: 80%;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-items: center;
                gap: 4rem;
                padding-top: 4rem;


                a {
                    display: block;
                }

                img.logo {
                    width: calc(64rem/8);
                    height: calc(46rem/8);
                }
                img.p3-logo {
                    background-color: $p3-color;
                }
                img.p4-logo {
                    background-color: $p4-color;
                }
                img.p5-logo {
                    background-color: $p5-color;
                }
            }
        }

    main {
        max-width: calc(100% - 70px);

        header {
            height: $altura-cima;
            border-bottom: 2px solid $primary-color;
            //border-left: 2px solid $primary-color;
            display: flex;
            align-items: center;
            justify-content: center;
            img#persona-series-logo {
                max-width: 30rem;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            }
        }

        article {
            p {
                margin: 3rem;
                font-family: $fonte-padrao;
                font-size: 2rem;
            }
            
            section#select {
                max-width: fit-content;
                height: fit-content;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                border: 1px solid $primary-color;
                margin: auto;
    
                img {
                    max-height: calc(120rem/8);
                }
            }
        }
    }
}