body#persona5 {
    header {
        padding: 0;

        nav {
            height: 100%;

            ul {
                height: 100%;

                li.item {
                    filter: drop-shadow(0px 4px 8px rgba(255, 255, 255, 0.6));
                    width: 10rem;

                    p.profile-name {
                        color: $primary-color;

                        position: relative;
                        width: 68px;
                        height: 21.85px;
                        background: #FFFFFF;
                        transform: rotate(-4.37deg);
                        padding: 0.3rem;

                        font-weight: 500;
                    }

                    span.name-box {
                        position: absolute;
                        width: 72.43px;
                        height: 30.28px;
                        background: #000000;
                        transform: rotate(-3.69deg);
                        z-index: -1;
                        top: 62%;
                    }
                }
            }
        }



    }

    table {

        col.cinfo {
            background-color: $p5-color;
        }

        th {
            color: $secondary-color;
        }
    }
}