body#persona5 {
    header {
        padding: 0;

        nav {
            height: 100%;

            ul {
                height: 100%;

                li.item {
                    filter: drop-shadow(0px 4px 8px rgba(255, 255, 255, 0.6));
                    width: 11rem;
                    position: relative;

                    p.profile-name {
                        color: $primary-color;

                        position: relative;
                        min-width: fit-content;
                        width: 68px;
                        height: 21.85px;
                        background: #FFFFFF;
                        transform: rotate(-4.37deg);
                        padding: 0.3rem;

                        font-weight: 500;
                    }

                    span.name-box {
                        position: absolute;
                        width: 72.43px;
                        height: 30.28px;
                        background: #000000;
                        transform: rotate(-3.69deg);
                        z-index: -1;
                        top: 62%;
                    }
                }
            }
        }

    }

    section.data {
        flex-direction: column;
        gap: 1rem;
    }

    table {

        col.cinfo {
            background-color: $p5-color;
        }

        th {
            color: $secondary-color;
        }
    }

    span.toggle{
        cursor: pointer;
        padding: 2rem;
        transition: all .3s ease-in-out;

        &:hover {
            box-shadow: 2px 3px 6px 5px rgba(0, 0, 0, 0.377);
            border-radius: 10px;
        }

        p {
            max-width: fit-content;
            margin: auto;
            text-align: center;
            font-size: 1.1rem;
            margin-bottom: 1rem;
            background-color: $p5-color;
            color: $secondary-color;
            font-weight: bold;
            padding: 1rem;
            border-radius: 10px;
            border: 2px solid $primary-color;
        }

        figure {
        transition: display 3s ease-in-out;
        }
    }

    
}